build/
Testing/
*.o
*.a
*.so
*.dylib

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

docs/html/
docs/latex/

.vscode/
.idea/
*.swp
*.swo

*.log
*.exe

#some files
*.sh
config.doxy.bak
config.json